{% extends 'base.html.twig' %}

{% block title %}Hello CategoryController!{% endblock %}

{% block body %}
<table>
    <h1>Liste des catégories</h1>
<tbody>
    {% for category in categories %}
    <tr>
        <td><a href="{{ path('show_category', {'id': category.id}) }}"> {{ category }}</a></td>  
        <td><a class = "btn" href="{{ path('edit_category', {'id':category.id}) }}">Editer</a></td>
        <td><a class = "btn" href="{{ path('delete_category', {'id':category.id}) }}">Supprimer</a></td>
    </tr>
    {% endfor %}

    </tbody>
    </table>
    <p>
        <a class = "btn" href="{{ path('add_category')}}">Ajouter une catégorie</a>
    </p>

{% endblock %}
