<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
            <link rel="stylesheet" href="{{ asset('css/style.css') }}">
        {% endblock %}
     </head>
    <body>
    <nav>
        <ul>
            <li><a href="{{path('app_home') }}">Home</a></li> 
            <li><a href="{{path('app_category') }}">Liste des catégories</a></li>    
            <li><a href="{{path('app_topic') }}">Liste des topics/sujets</a></li>          
            <li><a href="{{path('app_post') }}">Liste des posts/messages</a></li>  
            {# <li><a href="{{path('app_user') }}">Liste des utilisateurs</a></li>   #}
        </ul>
    </nav>
                 
                {# {% if not app.user %}
                    <a href="{{path('app_register')}}">S'enregistrer</a>
                    <a href="{{path('app_login')}}">Se connecter</a>                          
                {% else %}
                    <a href="{{path('app_logout')}}">Se déconnecter</a>
                {% endif %} #}

            {% if app.user %}
                <a href="{{path('app_user')}}">{{app.user}}</a>
                <a href="{{path('app_logout')}}">Se déconnecter</a>
                {% else %}
                <a href="{{path('app_login')}}">Se connecter</a>
                <a href="{{path('app_register')}}">S'enregistrer</a>
            {% endif %}

            {# {% if is_granted('ROLE_ADMIN') %}         #}
                {# Si l'utilisateur est authentifié et qu'il est admin #}        
                {# <a class="btn btn-outline-warning" href="{{ path('admin') }}">Page admin</a>
            {% endif %} #}


        {% block body %}
        {% endblock %}

        {% block javascripts %}          
        {% endblock %}
    </body>
</html>
