{% extends 'base.html.twig' %}

{% block title %}Hello postController!{% endblock %}

{% block body %}
    <table>
         <h1>Liste des posts/messages</h1>
    <tbody>
    {% for post in posts %}
    <tr>
        <td><a href="{{ path('show_post', {'id':post.id}) }}">{{ post }} {{post.user.pseudo}}</a></td>
        <td><a class="btn" href="{{ path('edit_post', {'id':post.id}) }}">Editer</a></td>
        <td><a class="btn" href="{{ path('delete_post', {'id':post.id}) }}">Supprimer</a></td>
    </tr>
    {% endfor %}
    
    </tbody>
    </table>

    <p>
    <a class="btn" href="{{ path('add_post') }}">Ajouter un post</a>
    </p>
    
{% endblock %}
